* {
    margin: 0px;
    padding: 0px;
}

/* global */
.dFlex {
    display: flex;
}

.jContentB {
    justify-content: space-between;
}

.jContentAround {
    justify-content: space-around;
}

.jContentE {
    justify-content: space-evenly;
}

.grid {
    display: grid;
}

.gridfrfrfr {
    grid-template-columns: 1fr 1fr 1fr;
}



.center {
    justify-content: center;
    align-items: center;
}

.positionA {
    position: absolute;
}

.position {
    bottom: 10px;
    left: 630px;
}


.positionR {
    position: relative;
}

.gap10 {
    gap: 10px;
}

.gap25 {
    gap: 25px;
}

.padding20 {
    padding: 20px;
}

.marginTop {
    margin-top: 40px;
}

.margin20 {
    margin: 20px;
}

.borderRadius {
    border-radius: 5px;
}

.colorP {
    color: palevioletred;
}

.fontSize {
    font-size: 20px;
}

/* header */
.img1 {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.img2 {
    height: 550px;
    width: 100%;
}

.headerIcon {
    width: 26px;
}

header {
    background-color: palevioletred;
    padding: 20px;
    height: 90px;
}

/* .input1 {
    background-color: rgba(255, 240, 248, 0.115);
    opacity: 1px;
    width: 200px;
    height: 20px;
    border: none;
    border-bottom: 1px solid palevioletred;
    padding: 10px;

}

.input1:hover {
    background-color: rgb(212, 95, 134);
} */

button {
    all: unset;
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
}

.pink:hover {
    color: palevioletred;
}